
// $iconSpritePath:          "glyphicons-halflings.png";
// $iconWhiteSpritePath:     "glyphicons-halflings-white.png";


$media-phone:   "only screen and (max-width : 320px)";
$media-tablet:  "only screen and (max-width : 768px)";
$media-desktop: "only screen and (max-width : 980px)";
$media-large:   "only screen and (max-width : 1200px)";


